
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Groenten</title>
</head>
<body>
    <h1>Groenten</h1>
    <ul>
        @{
        foreach (string groente in ViewBag.Groenten)
        {
            <li>@groente</li>
    }
        }

        @ViewBag.Zoekresultaat

    </ul>
</body>
</html>
